@model UniversityManagementWebDotNet.Models.DAO.Message

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FacultyLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Message</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OperatorId, "OperatorId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OperatorId", String.Empty)
                @Html.ValidationMessageFor(model => model.OperatorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Messages, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Messages)
                @Html.ValidationMessageFor(model => model.Messages)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
