@model UniversityManagementWebDotNet.Models.DAO.Faculty

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Faculty</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FacultyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacultyName)
                @Html.ValidationMessageFor(model => model.FacultyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FacultyCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacultyCode)
                @Html.ValidationMessageFor(model => model.FacultyCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FacultyEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacultyEmail)
                @Html.ValidationMessageFor(model => model.FacultyEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FacultyContactNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacultyContactNumber)
                @Html.ValidationMessageFor(model => model.FacultyContactNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
