@model UniversityManagementWebDotNet.Models.DAO.CourseAssign

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CourseAssign</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div>
            <div align="center">
                <table class="table table-responsive">
                    <tr>
                        <td class="col-md-2" style="background-color: darkslategray ;color: white;">
                            <h6><strong>Insert Course Assign Information</strong></h6>
                        </td>
                        <td class="col-md-5" style="background-color: aqua">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SemisterId, "SemisterId", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("SemisterId", String.Empty)
                                    @Html.ValidationMessageFor(model => model.SemisterId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CourseId, "CourseId", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CourseId", String.Empty)
                                    @Html.ValidationMessageFor(model => model.CourseId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Section, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Section)
                                    @Html.ValidationMessageFor(model => model.Section)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TimeSlotId, "TimeSlotId", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("TimeSlotId", String.Empty)
                                    @Html.ValidationMessageFor(model => model.TimeSlotId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.WeekDaysId, "WeekDaysId", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("WeekDaysId", String.Empty)
                                    @Html.ValidationMessageFor(model => model.WeekDaysId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RoomId, "RoomId", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("RoomId", String.Empty)
                                    @Html.ValidationMessageFor(model => model.RoomId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FacultyId, "FacultyId", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("FacultyId", String.Empty)
                                    @Html.ValidationMessageFor(model => model.FacultyId)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

       
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
      
            $.ajax({
                type: "GET",
                url: '@Url.Action("AllTimeSlot","CourseAssign")',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#TimeSlotId').empty();
                    $.each(data, function (index, value) {
                        $('#TimeSlotId').append($('<option/>', {
                            value: value.Id,
                            text: value.Slot
                            
                    }));
                    });
                },

            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("AllSemister","CourseAssign")',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#SemisterId').empty();
                    $.each(data, function (index, value) {
                        $('#SemisterId').append($('<option/>', {
                            value: value.Id,
                            text: value.Name,

                        }));
                    });
                },

            });
        });
    </script>
}
